.marca-item {
  flex: 0 0 auto;
  margin: 0 40px;
  cursor: pointer;
}

.marca-item img {
  width: 280px;
  height: 280px;
  object-fit: contain;
  transition: transform 0.3s;
}

.marca-item img:hover {
  transform: scale(1.15);
}
